.App {
  text-align: center;
}

body {
  background-color: ;
  overflow: ;
}
* {
}

.ant-picker-calendar {
  background-color: black !important;
}

.ant-picker-calendar .ant-picker-panel {
  background-color: black !important;
}
